html
    head
        title Jira helper - #{title}
        link(rel='stylesheet', href='/public/app.css')
    body
        nav
            div(class='title') #{title}
            div(class='links')
                a(href='/githubReport') GitHub Report
        block content
